.main-chat
  .main-chat__message-origin
    .main-chat__message-origin__leftcontent
      .main-chat__message-origin__group-name
        = @group.name
      .main-chat__message-origin__member-list
        Member :
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class: "main-chat__message-origin__edit2" do
      ="Edit"
    

  .main-chat__message-list
    =render @messages
          
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .main-chat__message-form__text
        = f.text_field :content, class: 'main-chat__message-form__text', placeholder:  'type a message'
        = f.label :image, class: 'main-chat__message-form__text__img' do
          = icon('fas', 'image', class: 'main-chat__message-form__text__img')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'main-chat__message-form__send'



